<!doctype html>
{% extends "base.html" %}
{% block title %}
Write Post
{% endblock %}

{% block style %}
<style>
    body {
        background: transparent url('https://images.unsplash.com/photo-1446126102442-f6b2b73257fd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fdc200e9e5d9d25c2029b39701f15e2a') 0 0 no-repeat fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block body %}
    <div class="pure-g">
      <div class="pure-u-0 pure-u-lg-1-4"></div>
      <div class="pure-u-1 pure-u-lg-1-2">
	<h1 style="text-align:center">cowsource</h1>
      </div>
      <div class="pure-u-0 pure-u-lg-1-4"></div>
    </div>
    <div class="pure-g">
    <div class="pure-u-0 pure-u-lg-1-4"></div>
    <div class="pure-u-1 pure-u-lg-1-2">
      <p style="text-align: center;">
        Cowsource is a collaborative beef photo sharing platform: crowdsourcing cows.<br>
	    Registered users can posts photos of their beef-containing food from a restaurant (currently only for Yelp restaurants). Users can also discover food near them, search posts, or browse latest posts. For nearby, be sure to click some markers. Posts have individual pages, where users can like or comment. Users and restaurants also have individual pages.<br>
	    Developed by Sandy Fang, Katherine Gershfeld, and Dong Shin. Find us on <a class="normal-link" href="https://github.com/snady/cowsource">Github</a>.
    </div>
    <div classes="pure-u-0 pure-u-lg-1-4"></div>
    </div>
    </div>
{% endblock %}
