<!doctype html>
{% extends "base.html" %}

{% block title%}
Home
{% endblock %}

{% block style %}
<style>
	.pure-img-responsive {
    max-width: 100%;
    height: 300px;
	}
	.padded {
	padding: 50px;
	}
</style>
{% endblock %}

{% block body %}
	<div class="pure-g">
    	  <div class="pure-u-1-3" align="center">
	    {% if location == '' %}
	    <h1>Location Not Found</h1>
	    {% endif %}
    			<h1>Hot beef near {{location}}</h1>
    		</div>
    	</div>
	<br>
	<div id="map" style="height:500px;width:75%;position:relative;margin:auto;"></div>
	<script>
		function initMap() {
			var restaurants = {{rests|tojson|safe}}
			var user = JSON.parse({{user|tojson|safe}})
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 11,
				center: user
			});
			var mark = new google.maps.Marker({
				position: user,
				map: map,
				title: 'User'
			});
			for (var i=0; i<restaurants.length; i++) {
				markRest(restaurants[i],map);
			}
		}
		function markRest(jason,mp) {
			var contentString = '<div style="width:150px;height:150px;overflow:hidden;margin:10px;position:relative;">'+
			'<img height=200px width=200px style="position:absolute; left: -1000%; right: -1000%; top: -1000%; bottom: -1000%; margin:auto; min-height: 100%; min-width: 100%;"'+
			'src="'+jason['file']+'"></div><b>'+jason['restaurant']+'<b>';
			
			var rcoord = jason['coords'];
			var rcoords = {lat: rcoord[0],lng: rcoord[1]};		
			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});
			
			var im = '../static/images/cow-128.png'
			var marker = new google.maps.Marker({
				position: rcoords,
				map: mp,
				title: 'Restaurant',
				icon: im
			});

			marker.addListener('click', function() {
				infowindow.open(mp, marker);
			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

	<br><br>
	{% if json|length == 0 %}
	<div class="pure-g">
		<div class="pure-u-1-2" align="center">
	<p>No posts near you, sorry!</p>
		</div>
	</div>
	{% else %}
	<div class="l-content">
	{% for row_no in range((json|length / 4 + 1)| int) %}
	<div class="pricing-tables pure-g">
		{% for post_no in range(4) %}
		{% if (row_no * 4 + post_no) < json|length %}
		<div class="pure-u-1-4">
            <div class="pricing-table pricing-table-free">
            		<tr>
            			<td>	
            				<a href="{{url_for('showpost',idp=json[row_no * 4 + post_no]['_id'])}}">
            				<img class="pure-img-responsive" src="{{json[row_no * 4 + post_no]['file']}}">
            				</a>
            			</td>
            		</tr>
            		<tr>
            			<td class="padded">
            				<b>{{json[row_no * 4 + post_no]['name']}}</b> <i>from</i> 
            				<b>{{json[row_no * 4 + post_no]['restaurant']}}</b>
            			</td>
            		</tr>
            </div>
        </div>
        {% endif %}
        {% endfor %}
     </div>
	{% endfor %}
	</div>
	{% endif %}

{% endblock %}
