<html>
<head>
  <title>Spaghetti</title>
</head>
<body>
  <table border=0 width=50%><tr>
    <td colspan=2>
      <h2><font color="red">{{error}}</font></h2>
    </td></tr>
  <tr>
    <td>
      <h2>Log In<br />
    </td>
    <td>
      <h2>Register<br />
    </td></tr>
    <tr><td>
      <form method = "POST">
        Username: <input type = "text" name = "user">
        <br /><br />
        Password: <input type = "password" name = "pass">
        <br /><br />
        <input type = "submit" name = "login" value = "login">
      </form>
    </td>
    <td>
      <form method = "POST">
        Username: <input type = "text" name = "reguser">
      <br /><br />
        Password: <input type = "password" name = "regpass">
      <br /><br />
        Email: <input type= "text" name = "email">
      <br /></br />
      <input type = "submit" name = "register" value = "register">
    </form>
    </td></tr>
  </table>
</body>
</html>
