<html>
<body>
	<form method = "POST">
      	Name:
      	<br /> 
      	<input type = "text" name = "name" value = ""><br />
      	URL:
      	<br /> 
      	<input type = "text" name = "imgurl" value = ""><br />
      	Restaurant: <!-- SUPPOSED TO HAVE AUTOCOMPLETE !-->
      	<br /> 
      	<input type = "text" name = "rest" value = ""><br />
      	Price:
      	<br /> 
      	$<input type = "text" name = "price" value = ""><br />
      	Description:
      	<br />
      	<textarea name = "description" style="width: 200px; height: 100px; font-family:trebuchet ms;"></textarea>
		<br />
		<input type = "submit" name = "submit" value = "submit post">
	</form>
</body>